.pdf-player-grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    // grid-template-columns: 70% 30%;
    gap: 1.5rem;
    padding-top: 4rem;
    @media screen and (max-width:768px) {
    grid-template-columns: 100%;
    gap: 0px;
    }
  }
  
  @media all and (orientation: portrait) {
    .mobile-vertical-fullview {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100vh;
    }
  }